.cart-page {
  position: relative;
  display: block;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  padding: 4% 10%; 
}
.cart-item img {
  width: 100px;
  margin-right: 20px;
}
.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.cart-items {
  display: flex;
  flex-direction: column;
}
.cart-item-details button {
  padding: 5px 10px;
  background-color: #ff5252;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.cart-item-details {
  flex-grow: 1;
}

