.cart-page {
  padding: 80px 20px 20px 20px; /* Add enough top padding */
  box-sizing: border-box; /* Ensure padding and border are included in the width/height calculations */
}

  
  .cart-items {
    display: flex;
    flex-direction: column;
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .cart-item img {
    width: 100px;
    margin-right: 20px;
  }
  
  .cart-item-details {
    flex-grow: 1;
  }
  
  .cart-item-details button {
    padding: 5px 10px;
    background-color: #ff5252;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  