.home-page {
  padding: 10px;
  background-color:antiquewhite;

}
.product-grid {
  background-color:antiquewhite;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap; /* Allows wrapping to the next line */
  justify-content: space-evenly; /* Distributes space evenly between items */
  gap: 20px; /* Space between items */
  padding: 10px 200px 10px 200px;
}

.product-card {
  flex: 0 1 calc(25% - 20px); /* Force each item to take up exactly 25% of the width */
  max-width: calc(20% - 10px); /* Prevent each card from growing larger than 25% */
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product-image {
  width: 100px;
  height: 100px;
  object-fit: contain; /* To keep image aspect ratio */
  margin-bottom: 10px;
}

h3 {
  font-size: 1rem;
  margin: 0;
}
