*{
  margin: 0;

}


.navbar {
  position: fixed; /* Fix the navbar at the top */
  top: 0;
  left: 0;
  width: 100%; /* Make it span the full width */
  z-index: 100; /* Ensure it stays on top of other elements */
  background-color: #07140b; /* Dark background */
  color: white; /* White text */
  justify-content: space-between; /* Equal space around each element */
  display: flex;
  align-items: center;
  padding: 10px 20px 15px 50px;
}

.shop-name {
  font-size: 45px; /* Adjust as needed */
  color: #e4dcdc; /* Change to your preferred color */
  text-decoration:solid;
}

.shop-name a {
  color: inherit; /* Use the parent color */
}

  
.navbar-left {
  flex-grow: 1; /* The left side will grow to take available space */
}


.navbar-center {
  display: flex;
  align-items: center;
  flex-grow: 2; /* Center section takes more space */
  justify-content: center;
}

.navbar-right {
  display: flex;
  align-items: center;
  flex-grow: 1; /* The right side will grow */
  justify-content: flex-end; /* Right-align elements */
}

/* Style for the search bar */
.search-bar {
  padding: 8px;
  margin-left: 10px;
  border: none;
  border-radius: 4px;
}
  
.location-icon {
  margin-right: 8px;
  width: 20px;
  height: 20px;
}
  
/* Buttons styling */
.login-btn,
.signup-btn,
.logout-btn {
  margin-left: 10px;
  padding: 8px 12px;
  border: none;
  background-color: #26A69A;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.login-btn:hover,
.signup-btn:hover,
.logout-btn:hover {
  background-color: #2f0cca;
}

.location-icon {
  box-sizing: border-box;
  width: 60px; /* Adjust the size as needed */
  height: 60px;
  margin-right: 5px; /* Add spacing between the icon and text */
}

  